---
apiVersion: 1

contactPoints:
  - orgId: 1
    name: diploma-email
    receivers:
      - uid: diploma_email
        type: email
        disableResolveMessage: false
        settings:
          addresses: "{{ grafana_alert_email_to }}"
          singleEmail: false
