# Managed by Ansible. Local changes will be overwritten.
filebeat.config.modules:
  path: ${path.config}/modules.d/*.yml
  reload.enabled: false

setup.ilm.enabled: true
setup.template.enabled: true

output.elasticsearch:
  hosts:
    - "{{ elasticsearch_url }}"
  username: "{{ elasticsearch_filebeat_username }}"
  password: "{{ filebeat_effective_password }}"

processors:
  - add_host_metadata:
      when.not.contains.tags: forwarded
  - add_cloud_metadata: ~
  - add_fields:
      target: ""
      fields:
        environment: "{{ filebeat_environment }}"
        service:
          name: "{{ filebeat_service_name }}"
        labels:
          source: "yandex-instance-group"

logging.level: info
logging.to_files: true
logging.files:
  path: /var/log/filebeat
  name: filebeat
  keepfiles: 7
  permissions: "0640"
