[Unit]
Description=Prometheus Monitoring System
Documentation=https://prometheus.io/docs/
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User={{ prometheus_user }}
Group={{ prometheus_group }}

ExecStart=/usr/local/bin/prometheus \
  --config.file={{ prometheus_config_dir }}/prometheus.yml \
  --storage.tsdb.path={{ prometheus_data_dir }} \
  --storage.tsdb.retention.time={{ prometheus_retention_time }} \
  --web.listen-address={{ prometheus_listen_address }} \
  --web.enable-lifecycle

ExecReload=/bin/kill -HUP $MAINPID

Restart=on-failure
RestartSec=5s

LimitNOFILE=65536
NoNewPrivileges=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=strict
ReadWritePaths={{ prometheus_data_dir }}

[Install]
WantedBy=multi-user.target
